@model IEnumerable<BookDetailViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<section>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">DataTable with Bootstrap</h5>
            <p class="card-text text-center">A simple example about datatable with bootstrap style.</p>
            <a asp-controller="Home" asp-action="CreateEditBook" class="btn btn-success text-decoration-none mb-2">Add Book</a>
            <div class="table-responsive">
                <table id="table_container" class="table table-sm table-bordered table-striped">
                    <thead class="bg-light">
                        <tr>
                            <th>#</th>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Created</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var i = 1;} 
                        @foreach (var item in Model)
                        {
                            var createdat = item.CreatedAt.ToString("dd/MM/yyyy");
                            <tr>
                                <td>@i</td>
                                <td>@item.BookName</td>
                                <td>@item.AuthorName</td>
                                <td>@String.Join(",", item.CategoryName)</td>
                                <td>@createdat</td>
                                <td class="text-center">
                                    <a class="mr-1" asp-controller="Home" asp-action="GetBook" asp-route-bookid="@item.BookId">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a asp-controller="Home" asp-action="CreateEditBook" asp-route-bookid="@item.BookId">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a sp-controller="Home" asp-action="Delete" asp-route-bookid="@item.BookId" onclick="confirm('Are you sure ?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }

                    </tbody>
                    <tfoot class="d-none">
                        <tr>
                            <th>#</th>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th>Created</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</section>



